<html>

<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <div class="wrapper">
        {% with current_page = "analog" %}
        {% include 'navigation_bar.html' %}
        {% endwith %}
        <div class="content">
            {% with %}
            {% set post_header = "Tokyo" %}
            {% set paragraph_text = "We stayed at Tokyo for almost a week and it's a definitely one of my favourite cities so far.
            Here are couple of pictures from wandering across the town and enjoying all the great
            architecture and tasty food." %}
            {% set image_src = "/static/images/tokyo_landscape.jpg" %}
            {% set image_alt = "Tokyo overview from goverment building" %}
            {% set href_url = "/analog/tokyo" %}
            {% include 'post.html' %}
            {% endwith %}

            {% with %}
            {% set post_header = "Osaka" %}
            {% set paragraph_text = "Osaka was our second main base during our times in Japan, it's definitely place to go for a
            foodies. I also bought my first analog camera there, so few pictures are actually my first ones." %}
            {% set image_src = "/static/images/osaka_car.jpg" %}
            {% set image_alt = "Car during night in Osaka" %}
            {% set href_url = "/analog/osaka" %}
            {% include 'post.html' %}
            {% endwith %}
        </div>
    </div>
</body>

</html>