<html>

<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <div class="wrapper">
        {% with current_page = "home" %}
        {% include 'navigation_bar.html' %}
        {% endwith %}

        <div class="content">
            <div class="post">
                <h2>First post!</h2>
                <p>So finally there is some content here! You can check out my resume page or visit analog subsite
                    with some photos from Japan so far.</p>
                <a href="/analog">
                    <img src="/static/images/osaka_car.jpg" alt="Car during night in Osaka">
                </a>
            </div>
        </div>
    </div>
</body>

</html>