<html>

<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <div class="wrapper">
        {% with current_page = "home" %}
        {% include 'navigation_bar.html' %}
        {% endwith %}

        <div class="content">
            <div class="post">
                <p>Soon I will be adding new posts to my site and you will see more content, for now I will leave
                    here some picture I took in Osaka!</p>
                <img src="/static/images/osaka_car.jpg" alt="Car during night in Osaka">
            </div>
        </div>
    </div>
</body>

</html>