<html>

<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <div class="wrapper">
        <div class="header-section">
            <div class="header">
                <h1>Home</h1>
            </div>
            <div class="navigation-bar">
                <a href="/" aria-current="page" class="nav-link">home</a>
                <a href="/resume" class="nav-link">resume</a>
                <a href="/analog" class="nav-link">analog</a>
            </div>
        </div>
        <div class="content">
            <div class="post">
                <p>Soon I will be adding new posts to my site and you will see more content, for now I will leave
                    here some picture I took in Osaka!</p>
                <img src="/static/images/osaka_car.jpg" alt="Car during night in Osaka">
            </div>
        </div>
    </div>
</body>

</html>