<html>

<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <div class="wrapper">
        <div class="header-section">
            <div class="header">
                <h1>Nothing here yet!</h1>
            </div>
            <div class="navigation-bar">
                <a href="/" aria-current="page" class="nav-link">home</a>
                <a href="/resume" class="nav-link">resume</a>
                <a href="/analog" class="nav-link">analog</a>
            </div>
        </div>
        <div class="content">
            <div class="post">
                <p>Sorry, content not found!</p>
                <img src="/static/images/content_not_found.jpeg" alt="Car during night in Osaka">
            </div>
        </div>
    </div>
</body>

</html>